<?xml version='1.0' encoding='utf-8'?>
<widget id="com.shonchoy.sudoku" version="1.0.0" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>SudokuSolver</name>
    <description>
        SudokuSolver helps you find solution to any Sudoku puzzle. The user interface takes in input of an unsolved state of a Sudoku puzzle and outputs a valid solution. 
    </description>
    <author email="n.shonchoy@uottawa.ca" href="https://ca.linkedin.com/in/nurelahi">
        Apache Cordova Team
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
	<icon src="www/img/Sudoku.png" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
</widget>
