/* Empty. Add your own CSS if you like */



input[type=number] {
	border-style: solid;
    border-width: 2px;
	text-align: center;
	width: 30px;
	height: 30px;
	display:inline;
	padding:0;

}



.table {
	margin: 0 auto; 
}
.cube1{
	background-color:white;

}

.text-center {
	text-align: center;
}


.cube2{
	background-color:#61A629;
		font-color:white;
}

#solve_btn {
	margin-top: 18px;
	width: 30%;
	background-color: green;
}


/* Add Responsiveness for smaller screen sizes */

@media only screen 
and (min-device-width : 190px) 
and (max-device-width : 320px) {
	input[type=number] {
	border-style: solid;
    border-width: 2px;
	text-align: center;
	width: 8%;
	height: 8%;
	display:inline;
	padding:0;
	}
}


.input_box {
	//width:30px;
}

.sudoku_box{
	  top: 50%;
  left: 50%;
}

.outer_box {
		margin: 2px auto;
		text-align: center;
}




/* Remove Input Number Spinner from Chrome(webkit)/Firefox(Moz) based Browser */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}



