/* 
	@Author: Nur-E-Elahi Shonchoy
	CSS used in the index page.
*/



input[type=number] {
	border-style: solid;
    border-width: 1px;
	text-align: center;
	width: 30px;
	height: 30px;
	display:inline;
	padding:0;
	margin: 1px 1px;
}

p {
	margin:2%;
}


.cube1{
	background-color:white;

}
.cube2{
	background-color:#61A629;
}

.cell-highlight{
	color: red;
	font-weight: bold;
}

.text-center {
	text-align: center;
}

.input_box {
	//width:30px;
}

.outer_box {
		margin: 0px auto;
		text-align: center;
}

.page-header{
	padding-top: 50px;
}

#solve_btn {
	margin-top: 18px;
	width: 30%;
	background-color: green;
}

#clear_btn {
	margin-top: 18px;
	width: 30%;
	background-color: green;
}


/* Add Responsiveness for smaller screen sizes */

@media only screen 
and (min-device-width : 190px) 
and (max-device-width : 320px) {
	input[type=number] {
	border-style: solid;
    border-width: 2px;
	text-align: center;
	width: 8%;
	height: 8%;
	display:inline;
	padding:0;
	}
}


/* Add Responsiveness for buttons in larger screen sizes */

@media only screen 
and (min-device-width : 640px) {
	#solve_btn {
		margin-top: 18px;
		width: 30%;
		font-size: 200%;
		background-color: green;
		margin-bottom: 6%;
	}

	#clear_btn {
		margin-top: 18px;
		width: 30%;
		font-size: 200%;
		background-color: green;
		margin-bottom: 6%;
	}
	
	input[type=number] {
		border-style: solid;
		border-width: 2px;
		text-align: center;
		width: 8%;
		height: 11%;
		display:inline;
		padding-left:0;
		font-size: 300%;
	}
}




/* Remove Input Number Spinner from Chrome(webkit)/Firefox(Moz) based Browser */

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}


